body {
  margin-left: 100px;
  margin-right: 100px;
}

#wrapper {
    display: flex;
}

#movie {
    display: inline-block;
}

#overview {
    margin-left: 50px;
    margin-right: 300px;
    display: inline-block;
}

#poster{
    margin-bottom: 15px;
}

nav .navbar-nav li a{
  color: black !important;
  font-size: 13px;
  }

#reviews, #reviews_guest{
    margin-bottom:20px;
    border:1px dotted black;
    border-radius: 10px;
}
