body {
  margin:auto;
  width:95%;
}

#wrapper {
    display: flex;
}

#movie {
    display: inline-block;
}

#overview {
    margin-left: 50px;
    margin-right: 300px;
    display: inline-block;
}

#poster{
    margin-bottom: 15px;
}


nav .navbar-nav li a{
  /*color: black !important;*/
  font-size: 13px;
  }

.navbar {
  justify-content: flex-end !important;
}

#reviews, #reviews_guest{
    margin-bottom:20px;
    border:1px dotted white;
    border-radius: 10px;
    word-wrap: break-word;
    font-size:2vh;
}
