{% macro displayMovieList(popular_movies) %}
    {% for movie in popular_movies.items %}
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-2 movie-card" style="margin-bottom: 20px;">
        <a href="{{ url_for('main.movie_page', movie_id=movie.movie_id, movie_title=movie.title) }}">
            <img title="Rating: {{ movie.vote_average}}" src="{{ movie.poster }}" alt="{{ movie.title }}"
                class="img-thumbnail"></a>
        <div title="EE" class="text-center">
<!--            <a></a>-->
            <a href="{{ url_for('main.movie_page', movie_id=movie.movie_id, movie_title=movie.title) }}">
                <h4 title="Rating: {{ movie.vote_average}}">
                {{ movie.title }} ({{movie.release_date}})</h4></a>
        </div>
    </div>
    {% endfor %}
{% endmacro %}

{% macro paginate_movies(popular_movies) %}
    {% for page_num in popular_movies.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
        {% if page_num %}
            {% if popular_movies.page == page_num %}
              <a class="btn btn-info mb-4" href="{{ url_for('main.home', page=page_num) }}">{{ page_num }}</a>
            {% else %}
              <a class="btn btn-outline-info mb-4" href="{{ url_for('main.home', page=page_num) }}">{{ page_num }}</a>
            {% endif %}
        {% else %}
            ...
        {% endif %}
    {% endfor %}
{% endmacro %}