{% block content %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link href="static/css/login.css" rel="stylesheet">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

<!--    &lt;!&ndash; Icon &ndash;&gt;-->
<!--    <div class="fadeIn first">-->
<!--      <img src="static/photos/user.png" id="icon" alt="User Icon" style="width:20%; height:20%" />-->
<!--    </div>-->

    <!-- Login Form -->
    <form method="POST">
      {{ form.csrf_token }}
      {{ form.username(placeholder=form.username.label.text) }}
<!--      <input type="text" id="username" class="fadeIn second" name="username" placeholder="username">-->
<!--      <input type="text" id="login" class="fadeIn second" name="login" placeholder="email">-->
<!--      <input type="password" id="password" class="fadeIn third" name="login" placeholder="password">-->
<!--      <input type="password" id="repeat_password" class="fadeIn third" name="login" placeholder="repeat password">-->
      {{ form.submit }}
<!--      <input type="submit" class="fadeIn fourth" value="Register">-->
    </form>

    <!-- Maybe login with Google? -->
<!--    <div id="formFooter">-->
<!--      <a class="underlineHover" href="#" id="forgot_password">Forgot Password?</a>-->
<!--      <a class="underlineHover" href="#">Register</a>-->
<!--    </div>-->

  </div>
</div>
{% endblock %}